<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="shopping-list">

            <div class="header">
                <h1>{{header || "Welcome"}}</h1>
                <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
                <button v-else @click="doEdit(true)" class="btn btn-primary">Add items</button>
            </div>

            <div v-if="editing" class="add-item-form">
                <input v-on:keyup.enter="addItem" v-model="newItem" placeholder="Add an item:"/>

                <label>
                    <input type="checkbox" v-model='newItemHighPriority' />
                    High Priority
                </label>

                <button v-on:click="addItem" 
                        class="btn btn-primary"
                        :disabled="newItem.length === 0">
                        Save item
                </button>
            </div>


            <p v-if="!items.length">The shopping list is empty</p>
            <ul>
                <li 
                    v-for="item in reversedItems" 
                    :key="item.id"
                    @click="togglePurchased(item)"
                    :class="{strikeout: item.purchased, priority: item.highPriority}">
                    {{item.label}}
            </li>
            </ul>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <script src="main.js"></script>
    </body>
</html>